<%- include('../../partials/navbar.ejs') %>
<%- include('../../partials/header.ejs') %>

<div class="container">
    <h2>Usuarios</h2>
    <hr>
    <table class="table table-bordered">
        <thead>
            <th>id</th>
            <th>Email</th>
        </thead>
        <tbody>
            <% users.forEach((user)=>{%>
                <td><%= user.id %></td>
                <td><%= user.email %></td>
            <% }) %>
        </tbody>      
    </table>
        
</div>


<%- include('../../partials/footer.ejs') %>
